<% content_for :page_title do %>
Ruby on Rails Guides
<% end %>

<% content_for :header_section do %>
<%= render 'welcome' %>
<% end %>

<% content_for :index_section do %>
<aside class="kindle-guides">
  <a class="kindle-download-link" href="/kindle/ruby_on_rails_guides_ed36f7c.mobi">
    <div class="icon icon-book"></div>
    <h2 class="kindle-download">
      Rails Guides for Kindle
    </h2>
  </a>
  <h4 class="kindle-extra">Read the Ruby on Rails in comfort <a href="https://kindle.amazon.com/">on your Amazon Kindle</a> or <a href="http://www.amazon.com/gp/kindle/kcp">mobile device with the free Kindle app</a>.</h4>
    <a class="kindle-download-link featured" href="/kindle/ruby_on_rails_guides_ed36f7c.mobi">
      <span class="icon-download"></span>
      Download .mobi
    </a>
</aside>
<% end %>

<% documents_by_section.each do |section| %>
  <h3><%= section['name'] %></h3>
  <dl>
    <% section['documents'].each do |document| %>
      <%= guide(document['name'], document['url'], :work_in_progress => document['work_in_progress']) do %>
        <p><%= document['description'] %></p>
      <% end %>
    <% end %>
  </dl>
<% end %>
