/* Guides.rubyonrails.org */
/* pdf.css */
/* Created January 25, 2011
--------------------------------------- */

* {
	font-size: 11pt;
}

p {
	text-align: justify;
	padding: 0pt;
	margin: 0pt;
	margin-bottom: 3pt;
	padding-bottom: 0pt;
}

.prologue {
	background-color: #FBB;
   	padding: 10pt;
   	margin: 0pt;
}



h2 {
	font-size: 30pt;
}


h3 {
	font-size: 19pt;
   	padding: 0pt;
	margin: 0pt;
	padding-top: 13pt;
   	padding-bottom: 3pt;
}


h4 {
	font-size: 17pt;
   	padding: 0pt;
	margin: 0pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
}


h5 {
	font-size: 15pt;
   	padding: 0pt;
	margin: 0pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
}

h6 {
	font-size: 13pt;
   	padding: 0pt;
	margin: 0pt;
	padding-top: 6pt;
	padding-bottom: 3pt;
}


table {
	border-collapse: collapse;
	border: 1px solid black;
}

td {
	border: 1px solid black;
    padding: 2px;
}


.ruby, .shell, .html, .yaml, .erb, .plain, .pre {
	background-color: #EFEFEF;    
	font-size: 9pt;
   	padding: 2pt;
   	padding-left: 4pt;
	margin: 2pt;
    line-height: 10pt;
    border: none;
}


.tt {
    background-color: transparent;    
    border: none;
    font-size: 11pt;
}


.tip {
	background-color: #DEF;
   	padding: 2pt;
   	margin: 10pt;
}

.note {
	background-color: #FFA;
   	padding: 2pt;
   	margin: 10pt;
}

.info {
	background-color: #DFD;
   	padding: 2pt;
   	margin: 10pt;
}

.warning {
	background-color: #FEE;
   	padding: 2pt;
   	margin: 10pt;
}


